{% extends 'accounts/base.html' %}

{% block title %}Login - Projeto Integrador{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow p-4" style="width: 100%; max-width: 400px;">
        
        <h2 class="text-center mb-4">Tela de Login</h2>

        <form method="POST">
            {% csrf_token %} 
            
            <div class="mb-3">
                <label for="username" class="form-label">Usuário:</label>
                <input type="text" name="username" id="username" class="form-control" required>
            </div>

            
            <div class="mb-3">
                <label for="password" class="form-label">Senha:</label>
                <input type="password" name="password" id="password" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-primary w-100 mb-3">Entrar</button>

          
            <div class="d-flex justify-content-between text-center">
                <a href="{% url 'cadastro' %}" class="text-decoration-none small">Criar conta</a>
                <a href="{% url 'password_reset' %}" class="text-decoration-none small">Esqueci a senha</a>
            </div>
        </form>

        
        {% if erro %}
            <div class="alert alert-danger mt-3 py-2 text-center" role="alert">
                {{ erro }}
            </div>
        {% endif %}

    </div>
</div>
{% endblock %}