<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login - Projeto Integrador</title>
</head>
<body>
    <h2>Tela de Login</h2>

    <foServer Error (500)rm method="POST">
        {% csrf_token %} 
        
        <div>
            <label>Usuário:</label><br>
            <input type="text" name="username" required>
        </div>
        <br>
        <div>
            <label>Senha:</label><br>
            <input type="password" name="password" required>
        </div>
        <br>
        <button type="submit">Entrar</button>
        <div>
            <a href="{% url 'cadastro' %}">Não tem conta? Cadastre-se</a>
        </div>
        <div>
            <a href="{% url 'password_reset' %}">Esqueci minha senha</a>
        </div>
    </form>

    
    {% if erro %}
        <p style="color: red; margin-top: 15px;">{{ erro }}</p>
    {% endif %}
</body>
</html>