{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}Cadastro - Projeto Integrador{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>E-mail Enviado - ClinSecure</title>
</head>
<body>

    <header class="header">
        <div class="profile">
            <img src="{% static 'img/Profile.webp' %}" alt="ClinSecure Logo">
            <h2>ClinSecure</h2>
        </div>
        <nav>
            <a href="{% url 'home' %}">Início</a>
            <a href="{% url 'cadastro' %}">Cadastro</a>
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'password_reset' %}">Esqueci a senha</a>
        </nav>
    </header>

    <div class="center-text">

        <h2>Verifique seu e-mail</h2>
        <p>Enviamos um e-mail com instruções para redefinir sua senha. 
            Se existir uma conta cadastrada com o e-mail informado,
            você o receberá em instantes.
        </p>

        <br>
        
        <div class="text-links">

            <a  href="{% url 'login' %}">Voltar para o Login</a>
        </div>

    </div>

    
    
</body>
{% endblock %}
