{% extends 'accounts/base.html' %}

{% block title %}Senha Redefinida - ClinSecure{% endblock %}

{% block content %}

<div class="login-container">
    <div class="card shadow p-4 login-card" style="max-width: 450px; margin: 40px auto; text-align: center;">

    <h2>Senha redefinida!</h2>

    <p style="margin-top: 20px;">
        Sua senha foi alterada com sucesso.
    </p>

    <p>
        Agora você pode entrar no ClinSecure utilizando sua nova senha.
    </p>

    <a
        href="{% url 'login' %}"
        class="btn-submit"
        style="display: block; width: 100%; margin-top: 20px; text-decoration: none;"
    >
        Voltar para o login
    </a>

</div>

</div>

{% endblock %}
